img {
  border: 1px solid black;
  width: 256px;
  height: 192px;
  display: inline-block;
  margin: 10px;
}

body { font-family: sans-serif; }

.scene {
  display: inline-block;
  margin: 10px;
  width: 256px;
  height: 192px;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  backface-visibility: hidden;
}



.card-face-back {
  transform: rotateY(180deg);
}