img {
  border: 1px solid black;
  width: 10.5vw;
  height: 10vw;
  display: inline-block;
  margin: 10px;
}

.scene {
  display: inline-block;
  margin: 0.5vw;
  width: 10.5vw;
  height: 10vw;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  backface-visibility: hidden;
}

.card-face-back {
  transform: rotateY(180deg);
  z-index: 0;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3em;
}

body {
  background-image: url("images/treebranches.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

form {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

.score {
  font-size: 1.5rem;
  padding: 10px;
  display: inline-block;
  margin: 10px 0px;
  color: white;
}

#game {
  display: block;
  top: 45%;
  margin: 2.5%;
  z-index: 0;
}

.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),white 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;
  margin: 10px;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

select {
  font-size: 16px;
  padding: 5px;
}

.modal {
  display: none;
  position: relative;
  width: 15%;
  height: 15%;
  z-index: 99;
  color: black;
  background-color: white;
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),white 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline-offset: .6em;
  font-size: 1.5rem;

  border: 0;
  margin: 0 auto;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.close {
  color: black;
  float: inline-end;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  cursor: pointer;
}

.low-score {
  display: none;
}

.modal-content {
  line-height: 4rem;
}